<!DOCTYPE html>
<html lang="en" ng-app="flapperNews">
<head>
	<meta charset="UTF-8">
	<!-- bootstrap -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	<!-- angular -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.js"></script>
	<!-- custom -->
	<script src="app.js"></script>
	<style> .glyphicon-thumbs-up { cursor:pointer } </style>

	<title>My Angular App</title>
</head>
<body ng-controller="MainCtrl">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<!-- header -->
			<div class="page-header">
				<h1>Flapper News</h1>
			</div>
			<!-- index of posts -->
			<div ng-repeat="post in posts | orderBy: '-upvotes'">
				<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
				{{ post.upvotes }}
				<span style="font-size:20px; margin-left:10px;">
					<a ng-show="post.link" href="{{ post.link }}">
						{{ post.title }}
					</a>
					<span ng-hide="post.link">
						{{ post.title }}
					</span>
				</span>
			</div>
			<!-- form to add new post -->
			<form ng-submit="addPost()" style="margin-top:30px;">
				<h3>Add a new post</h3>

				<div class="form-group">
					<input type="text" class="form-control" placeholder="Title" ng-model="title" /><br>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Link" ng-model="link" /><br>
				</div>
				<button type="submit" class="btn btn-primary">POST</button>
			</form>
		</div>		
	</div>
</body>
</html>